.container{
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    min-height: 100%;
}
.info span{
    font-size: 16px;
    white-space: nowrap;
}
.save svg{
    width: 16px;
    height: 20px;
}
.save:hover{
    cursor: pointer;
    opacity: 0.5;
}
@media (max-width: 768px) {
    .container{
        min-width: 100%;
        justify-content: end;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .info{
        flex-grow: 1;
    }
    .save{
        display: none;
    }
}