@font-face {
  font-family: "Proxima Nova";
  src: local("ProximaNova"),
  url("fonts/ProximaNova/proximanova_bold.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("ProximaNova"),
  url("fonts/ProximaNova/proximanova_regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: none;
  border: none;
  color: black;
  transition: all 0.4s ease 0s;
  outline: none;
}